:root {
  --bg-color: #2f2f31;
  --main-color: #03a2a2;
  --secondary-color: #454547;
  --tertiary-color: #e8e4e2;
  --typewriterSpeed: 5s;
  --typewriterCharacters: 24;
}

@font-face {
  font-family: Roboto-med;
  src: url(font/Roboto-Medium.ttf);

  font-family: Roboto-light;;
  src: url(font/Roboto-Light.ttf);
}

body {
  /* background-image: url(images/47.jpg); */
  /* background-color: #454547; */
  background-color: var(--bg-color);
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover  */
/* ::-webkit-scrollbar-thumb:hover {
  /* background: #555; 
} */

#static-left-nav-section {
  /* background-color: #2f2f31; */
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 180px;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
}

#static-left-nav-section ul {
  list-style-type: none;
}

#static-left-nav-section a {
  position: relative;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 17px;
  border-top: 1px solid #03a2a2;
  display: table;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#static-left-nav-section a:hover {
  color: var(--main-color);
  font-size: 20px;
  border-top: 1px solid #03a2a2;
}

@media screen {
  
}

#static-right-nav-section {
  /* background-color: #2f2f31; */
  position: fixed;
  top: 0;
  bottom: 0;
  height: 30%;
  right: 0;
  width: 100px;
  margin-top: 10px;

}

#static-right-nav-section ul {
  list-style-type: none;
}

#static-right-nav-section a {
  position: relative;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 17px;
  display: table;
  padding-top: 15px;
  padding-bottom: 10px;
}

#static-right-nav-section img:hover {
  height: 30px;
}

#static-right-nav-section .topline {
  border-right: #03a2a2 1px solid;
  height: 115%;
  width: 2px;
  margin-left: 50px;
}

#static-right-nav-section .bottomline {
  border-right: #03a2a2 1px solid;
  height: 115%;
  width: 2px;
  margin-left: 50px;
}

#intro-section {
  top: 0%;
  bottom: 0%;
  margin-top: 180px;
  margin-left: 300px;
  color: var(--tertiary-color);
  text-align: justify;
  width: 720px;
}

#intro-section h3 {
  line-height: 0.1;
  font-family: Roboto-light;
}

#intro-section h1 {
  /* line-height: 0.5;
  font-size: 50px; */
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  position: relative;
  width: max-content;
}

#intro-section h1::before,
#intro-section h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro-section h1::before {
  background-color: var(--secondary-color);
  animation: typewriter is ease forwards;
}

#intro-section h1::before {
  background: var(--bg-color);
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

#intro-section h1::after {
  width: 0.125em;
  background: #03a2a2;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#intro-section b {
  color: var(--main-color);
}

#intro-section p {
  font-size: 18px;
}

#intro-section button {
  /* background-color: var(--secondary-color); */
  background-color: var(--bg-color);
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  border: #03a2a2 solid 2px;
  color: var(--main-color);
  font-weight: 500;
}

#intro-section button img {
  width: 20px;
}

#intro-section button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

#aboutme-section {
  /* position: absolute; */
  margin-left: 300px;
  margin-top: 200px;
  color: var(--tertiary-color);
  width: 900px;
  padding-bottom: 45%;
}

#aboutme-section .section-title {
  color: var(--main-color);
  font-size: 50px;
  position: absolute;
 
}

#aboutme-section .aboutme-container {
  width: 400px;
  padding-top: 100px;
  font-size: 18px;
  float: left;
}

#aboutme-section .aboutme-container li {
  list-style-image: url("images/arrow-right1.svg");
  padding: 5px;
}

#aboutme-section .myimage-section {
  max-width: 40%;
  max-height: 40%;
  margin-top: 15%;
  float: right;
  border-radius: 20px;
}
