:root {
  /* --bg-color: #2f2f31; */
  --bg-color: #2f2f31;
  --main-color: #03a2a2;
  --secondary-color: #454547;
  --tertiary-color: #e8e4e2;
  --typewriterSpeed: 5s;
  --typewriterCharacters: 24;
}

@font-face {
  font-family: Roboto-med;
  src: url(font/Roboto-Bold.ttf);

  font-family: Roboto-light;
  src: url(font/Roboto-Light.ttf);
}

@media only screen and (max-width: 600px) {
  #aboutme-section .section-title {
    font-size: 30px;
  }

  #static-left-nav-section ul a {
    font-size: 17px;
  }
}

* {
  /* background-image: url(images/47.jpg); */
  /* background-color: #454547; */
  box-sizing: border-box;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  /* background-color: #1D1E22; */
  cursor: url("images/mouse-pointer.svg"), auto;
}

body {
  background-color: var(--bg-color);

  animation: fadeBackground 10s;
  animation-fill-mode: forwards;
}

@keyframes fadeBackground {
  from {
    background-color: #2A3D3F;
  }
  to {
    background-color: var(--bg-color);
  }
}

#main-container {
  /* border: 2px solid green; */
  margin: 0% 15% 0% 15%;
  align-content: center;
  /* overflow: hidden; */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--bg-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

/* Handle on hover  */
/* ::-webkit-scrollbar-thumb:hover {
  /* background: #555; 
} */

#static-left-nav-section {
  background-color: var(--secondary-color);
  opacity: 0.95;

  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  text-align: center;

  text-align: center;
  transition: all 0.5s;
  -webkit-transition: all 0.25s;
}

.closebtn {
  position: absolute;

  margin-left: 43%;
  margin-top: 10px;
}

.openbtn {
  font-size: 40px;
  background-color: var(--bg-color);
  cursor: pointer;
  color: var(--main-color);
  padding: 10px 15px;
  border: none;
  transform: rotate(90deg);
}

.openbtn:hover {
  transform: rotate(180deg);
  transition: transform 250ms ease-out;
  cursor: url("images/droplet.svg"), auto;
}

#static-left-nav-section ul {
  list-style-type: none;
  margin-top: 100px;
  margin-left: 30%;
  width: 180px;
}

#static-left-nav-section ul a {
  position: relative;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 25px;
  display: flex;

  /* margin-top: 100px; */
  margin-top: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  transition: transform 250ms ease-out;
}

#static-left-nav-section ul a:hover {
  cursor: url("images/droplet.svg"), auto;
  color: var(--main-color);
  border-top: 1px solid #03a2a2;
  border-bottom: 1px solid #03a2a2;
  transform: scale(1.1);
  transform-origin: center;
}

#static-right-nav-section {
  /* background-color: #2f2f31; */
  position: fixed;
  top: 0;
  bottom: 0;
  height: 30%;
  right: 0;
  width: 80px;
  margin-top: 10px;
}

#static-right-nav-section ul {
  list-style-type: none;
}

#static-right-nav-section a {
  position: relative;
  text-decoration: none;
  color: var(--tertiary-color);
  font-size: 17px;
  display: table;
  padding-top: 15px;
  padding-bottom: 10px;
  cursor: url("images/mouse-pointer.svg"), auto;
}

#static-right-nav-section img:hover {
  transform: scale(1.3);
  transform-origin: center;
  transition: transform 150ms ease-out;
  cursor: url("images/droplet.svg"), auto;
}

#static-right-nav-section .topline {
  border-right: #03a2a2 1px solid;
  height: 115%;
  width: 2px;
  margin-left: 50px;
}

#static-right-nav-section .bottomline {
  border-right: #03a2a2 1px solid;
  height: 115%;
  width: 2px;
  margin-left: 50px;
}

#intro-section {
  top: 0%;
  bottom: 0%;
  padding-top: 100px;
  /* margin-left: 10px; */
  color: var(--tertiary-color);
  text-align: left;
  width: 100%;
}

#intro-section h3 {
  line-height: 0.1;
  font-family: Roboto-light;
}

#intro-section h1 {
  /* line-height: 0.5;
  font-size: 50px; */
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;

  width: max-content;
}

#intro-section h1::before,
#intro-section h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#intro-section h1::before {
  background-color: var(--secondary-color);
  animation: typewriter is ease forwards;
  
}

#intro-section h1::before {
  background: #2A3D3F;
  
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

#intro-section h1::after {
  width: 0.125em;
  background: var(--main-color);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  color: var(--main-color);
  font-size: 2rem;
  font-weight: 400;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}

@keyframes typewriter {
  to {
    left: 100%;
  }

 
}

@keyframes backgroundfade {
  from {
    background-color: #2A3D3F;
  }
  to {
    background-color: var(--bg-color);
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#intro-section b {
  color: var(--main-color);
}

#intro-section p {
  font-size: 18px;
  width: 100%;
}

#intro-section button {
  /* background-color: var(--secondary-color); */
  background-color: var(--bg-color);
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  border: #03a2a2 solid 2px;
  color: var(--main-color);
  font-weight: 500;
}

#intro-section button img {
  width: 20px;
}

#intro-section button:hover {
  background-color: var(--secondary-color);
  cursor: url("images/droplet.svg"), auto;
}

#aboutme-section {
  /* position: absolute; */
  margin-top: 200px;
  color: var(--tertiary-color);
  width: 100%;
  margin-bottom: 200px;
  text-align: left;
}

#aboutme-section .section-title {
  color: var(--main-color);
  font-size: 40px;
  position: relative;
  font-weight: bold;
}

#aboutme-section .aboutme-container {
  width: 100%;
  padding-top: 10px;
  font-size: 17px;
  text-align: left;
}

#aboutme-section .aboutme-container li {
  list-style-image: url("images/circle.svg");
  padding: 5px;
  text-align: left;
  width: 100%;
}

/* #aboutme-section .myimage-section {
  display: flex;

  margin-left: auto;
  margin-right: auto;
  max-width: 30%;
  max-height: 30%;
  border-radius: 20px;
  opacity: 0.7;
}
#aboutme-section .myimage-section:hover {
  transition: 1;
  transform: scale(1.040);
  transform-origin: center;
} */


.my-project-title {
  color: var(--main-color);
  font-size: 40px;
  position: relative;
  font-weight: bold;
  margin-bottom: 15%;
}

/* #my-projects-section #my-project-container {
  background-color: var(--secondary-color);
  margin: 10px;
  margin-top: 100px;
  border: #03a2a2 2px solid;
  border-radius: 10px;
  min-width: 10%;
  height: 350px;
  text-align: center;
  display: flexbox;
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
} */


/* Float four columns side by side */
.column {
  float: left;
  width: 30%;
  padding: 10px 15px;
  
}

/* Remove extra left and right margins, due to padding */
.row {
  margin: 0 -5px;
  margin-top: 50px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  cursor: url("images/droplet.svg"), auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: var(--secondary-color);
  border: #03a2a2 2px solid;
  border-radius: 10px;
  color: var(--tertiary-color);
  
}

.card a{
  cursor: url("images/droplet.svg"), auto;
  text-decoration: none;
  color: var(--tertiary-color);
}

.card:hover{
  cursor: url("images/droplet.svg"), auto;
  transform: scale(1.05);
  transform-origin: center;
  transition: transform 250ms ease-in-out;
  background-color: #2A3D3F;
}

.image{
  height: 100%;
  width: 100%;
  border: #03a2a2 2px solid;
  border-radius: 10px;
}

footer{
  margin-top: 100px;
  margin-bottom: 50px;
  width: 100%;
  text-align: center;
  font-size: 10px;
  color: var(--main-color);
  opacity: 0;
  transform: scale(0.1);
  transition: all 250ms ease-in;
}

.footer{
  opacity: 1;
  transform: scale(1);
}

