:root {
    --bg-color: #454547;
    --typewriterSpeed: 5s;
    --typewriterCharacters: 24;
  }
  

body {
  /* background-image: url(images/47.jpg); */
  background-color: #454547;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

#static-left-nav-section {
  /* background-color: #2f2f31; */
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 180px;
  border-radius: 0px 20px 20px 0px;
}

#static-left-nav-section ul {
  list-style-type: none;
}

#static-left-nav-section a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 17px;
  border-top: 1px solid #03a2a2;
  display: table;
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#static-left-nav-section a:hover {
  color: #03a2a2;
  font-size: 20px;
  border-top: 1px solid #03a2a2;
}

#static-right-nav-section {
  /* background-color: #2f2f31; */
  position: absolute;
  top: 0;
  bottom: 0;
  height: 30%;
  right: 0;
  width: 100px;
  border-radius: 20px 0px 0px 20px;
  margin-top: 250px;
}

#static-right-nav-section ul {
  list-style-type: none;
}

#static-right-nav-section a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 17px;
  display: table;
  padding-top: 15px;
  padding-bottom: 10px;
  
}

#static-right-nav-section img:hover{
    height: 30px;
}

#intro-section {
  margin-top: 180px;
  margin-left: 300px;
  color: #e8e4e2;
  text-align: justify;
  width: 720px;
}

#intro-section h3 {
  line-height: 0.1;
}



#intro-section h1 {
  /* line-height: 0.5;
  font-size: 50px; */
  font-size: clamp(1rem, 3vw + 1rem, 4rem);
  position: relative;
  position: relative;
  width: max-content;
}

#intro-section h1::before,
#intro-section h1::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#intro-section h1::before{
    background-color: #454547;
    animation: typewriter is ease forwards;
}

#intro-section h1::before {
    background: var(--bg-color);
    animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards;
  }
  
  #intro-section h1::after {
    width: 0.125em;
    background: white;
    animation: typewriter var(--typewriterSpeed)
        steps(var(--typewriterCharacters)) 1s forwards,
      blink 750ms steps(var(--typewriterCharacters)) infinite;
  }
  
  .subtitle {
    color: white;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  }
  
  @keyframes typewriter {
    to {
      left: 100%;
    }
  }
  
  @keyframes blink {
    to {
      background: transparent;
    }
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

#intro-section b {
  color: #03a2a2;
}

#intro-section p {
  font-size: 17px;
}

#intro-section button {
  background-color: #454547;
  font-size: 20px;
  padding: 20px;
  border-radius: 5px;
  border: #03a2a2 solid 2px;
  color: #03a2a2;
  font-weight: 500;
}

#intro-section button img {
  width: 20px;
}

#intro-section button:hover {
  background-color: #03a2a2;
  color: white;
  cursor: pointer;
  border-color: white;
}
